[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Doriam/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-Doriam/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Doriam/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Doriam/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-Doriam/auth-ms.git
